@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root{
  --blue : #1320DC;
  --text-gray : #77798C;
  --pink : #FB0A72;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1320DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 32, 220, 0.8);
}

body {
  font-size: 1.6rem !important;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif !important;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 9px -5px 10px rgba(0, 0, 0, 0.5); */
}
.header-top{
    width: 88%;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 295px;
    height: 45px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.header-top-search input{
    width: 90%;
    height: 100%;
    padding: 0rem 1rem 0rem 1rem;
    color: var(--text-gray);
    background-color: #f1f1f1;
    border-radius: 5px;
    border: none;
    outline: none;
}
.header-top-search input:hover{
    outline: none;
}
.fa-magnifying-glass{
    width: 20%;
    color: #1320DC;
    cursor: pointer;
}
.haeder-top-logo{
    cursor: pointer;
}
.haeder-top-logo span{
    color: #1320DC;
}
.header-top-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.client{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    cursor: pointer;
}
.client-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.client-avatar img{
    width: 100%;
    height: 100%;
}
.client-navbar{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 195px;
    height: 140px;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-left: -15px;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    visibility: hidden;
}
.client-navbar a{
    color: green;
    text-decoration: none;
}
.display-client-navbar{
    visibility: visible;
}
.header-right{
    padding-bottom: 1rem;
    cursor: pointer;
}
#language{
    font-size: 16px;
    border: none;
    outline: none;
    margin-right: 1rem;
    cursor: pointer;
}
#devise{
    font-size: 16px;
    border: none;
    outline: none;
    margin-right: 1rem;
    cursor: pointer;
}
.button-connexion{
    color: var(--blue);
    padding: 1rem;
    margin-right: 0.2rem; 
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color: #fff;
}
.button-connexion:hover{
    color: #fff;
    background-color: var(--blue);
    cursor: pointer;
}
.button-inscription{
    color: white;
    padding: 1rem; 
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color: var(--blue);
}
.button-inscription:hover{
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: #fff;
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}
.main-articles-top{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
}
.main-articles-top-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeInleft 1.4s both;
}
@keyframes fadeInleft {
    0%{
        opacity: 0;
        transform: translate(-40px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}
.main-articles-left-top{
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f1f1f1; 
}
.main-articles-left-bottom{
    height: 20%;
    display: flex;
    align-items: center;
}
.main-articles-left-bottom-image{
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    border: 1px solid #f1f1f1;
    cursor: pointer;
}
.main-articles-left-bottom-image img{
    width: 100%;
    height: 100%;
}
.main-articles-top-right{
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 95%;
    padding-left: 1.5rem;
    animation: fadeInRight 1.4s both;
}
@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translate(40px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}
.main-articles-top-right h2{
    font-size: 30px;
    margin-bottom: 1rem;
}
.main-articles-top-right p{
    color: var(--text-gray);
    padding-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.bag{
    margin-right: 1rem;
}
.btn-add-cart{
    color: #fff;
    font-size: 16px;
    width: 220px;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 2px solid var(--pink);
    border-radius: 5px;
    background-color: var(--pink);
    cursor: pointer;
}
.btn-add-cart:hover{
    color: var(--pink);
    background-color: #fff;
}
.btn-buy{
    color: #fff;
    font-size: 16px;
    width: 120px;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color: var(--blue);
    cursor: pointer;
}
.btn-buy:hover{
    color: var(--blue);
    background-color: #fff;
}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 23.5%;
    border-radius: 5px;
    background-color: #fff;
  }
  .article-image{
    height: 185px;
    width: 200px;
  }
  .article-image img{
    height: 185px;
    width: 200px;
    cursor: pointer;
    transition: 0.2s;
  }
  .article-image img:hover{
    transform: scale(1.03);
  }
  .article-price h3{
    font-size: 22px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .article-price p{
    color: var(--text-gray);
  }
  .article-price p span{
    color: #000;
    font-weight: bold;
  }
  .article-command{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-top: 2rem;
  }
.main-articles-bottom{
    width: 88%;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;  
}
.main-articles-bottom-title{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.main-articles-bottom-articles{
    display: flex;
    justify-content: space-between;
    height: 82%;
}
.btn-buy{
    font-size: 16px;
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: #fff;
    border: 2px solid var(--blue);
    background-color: var(--blue);
    cursor: pointer;
  }
  .btn-buy:hover{
    color: var(--blue);
    background-color: #fff;
  }
  .btn-plus{
    font-size: 20px;
    width: 50px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: #fff;
    cursor: pointer;
  }
  .btn-plus:hover{
    color: #fff;
    background-color: var(--blue);
  }
.zoom{
    transform: scale(1.07);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
